spring:
  application:
    name: customer
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    config:
      fail-fast: true  # Opcional: falla si el config server no responde